/* General styles */
body{
  margin: 0;
  padding: 0;
  font-family: 'gotham rounded', sans-serif;
}

a{
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

p{
  margin: 0;
  padding: 0;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h6{
  color: #fff;
  margin: 0;
  padding: 0;
}

span{
  color: #fff;
}

img{
  width: 100%;
}

.cs-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 1140px;
  margin: 0 auto;
}

.cs-align-center{
  align-items: center;
}

.cs-button{
  background: #5ca3c1;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.cs-button:hover {
  background: #fb8080;
}

/* Header */
header{
  position: relative;
  box-sizing: border-box;
}

header nav{
  position: fixed;
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  z-index: 999;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

header nav i{
  display: none;
  color: #fff;
  font-style: normal;
  font-size: 20px;
  border: solid 1px;
  border-radius: 5px;
  padding: 2px 13px;
  cursor: pointer;
}


header nav .cs-nav-container{
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

header nav.cs-fixed-nav{
  margin: 0;
  background: #010101;
}

header nav ul.cs-navigation{
  padding: 0;
  margin: 0;
  display: flex;
}

header nav ul.cs-navigation li a{
  display: block;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: lighter;
}

/* header nav ul.cs-navigation li a:active {
  background-color: #6f6f6f;
} */

header nav ul.cs-navigation li:last-child a{
  padding-right: 0;
}

header nav ul.cs-navigation li a:after{
  content: '';
  display: block;
  height: 1px;
  width: 0;
  opacity: 0;
  background-color: #5ca3c1;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

header nav ul.cs-navigation li a:hover:after{
  width: 100%;
  opacity: 1;
}

.cs-header-text-area{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.cs-header-text-area .cs-container{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cs-header-text-area .cs-header-text{
  display: flex;
  position: absolute;
  width: 100%;
  top: 50%;
  flex-direction: column;

}

.cs-header-text-area .cs-header-text h1{
  font-size: 50px;
  margin: 0;
  max-width: 460px;
}

.cs-header-text-area .cs-header-text span{
  font-size: 25px;
  max-width: 440px;
  font-weight: lighter;
}

.cs-get-started{
  color: #010101;
  font-size: 16px;
  box-sizing: border-box;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 15px 0;
  border-radius: 15px;
}

.cs-main-banner{
  box-sizing: border-box;
  width: 100%;
  repeat: no-repeat;
}

/* logo */
.cs-logo{
  font-size: 35px;
  color: #fff;
  text-decoration:none;
}

/* sections */
.cs-section{
  padding: 90px 0;
}

h3{
  color: #010101;
  font-size: 45px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  padding-top: 24px;
  display: block;
}

h3::before{
  content: '';
  position: absolute;
  display: block;
  transform: translateX(-50%);
  width: 60px;
  height: 6px;
  top: 0;
  left: 50%;
  border-radius: 20px;
  background-color: #5ca3c1;

}

.cs-section-title{
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}

.cs-remove{
  display: none;
}

/* courses categories */

#cs-courses .cs-courses-area {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

#cs-courses .cs-course-container {
  width: 30%;
  height: 260px;
  margin-top: 110px;
  border-radius: 20px;
}

#cs-courses .cs-course-container:hover .cs-course-content img{
  top: -60px;
}

#cs-courses .cs-course-content{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
}

#cs-courses .cs-course-content img{
  position: absolute;
  top: -55px;
  border-radius: 60px;
  width: 292px;
  max-height: 185px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#cs-courses .cs-course-content  .cs-course-info{
  position: absolute;
  top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  justify-content: center;
  overflow: hidden;
  max-width: 250px;
  max-height: 100px;
  box-sizing: border-box;
}

#cs-courses .cs-course-content .cs-course-info h4{
  font-size: 20px;
  text-align: center;
  color: #010101;
  font-weight: lighter;
  margin: 0;
  text-transform: uppercase;
}

#cs-courses .cs-course-content .cs-course-info p{
  font-size: 20px;
  color: #010101;
  margin: 0;
  margin-top: 10px;
}

#cs-courses .cs-course-content .cs-course-info p span{
  color: #fff;
}

#cs-toggle-courses{
  color: #000;
  cursor: pointer;
  width: 100%;
  text-align: right;
  margin: 50px 5px 0 0;
  font-weight: lighter;
  font-size: 20px;
}

/* our services */
#cs-services{
  background-color: #fff;
}

#cs-services .cs-section{
  background-color: #efeeee;
  width: 100%;
  border-radius: 40px 40px 0 0;
}

.cs-icon{
  width: 28px;
  padding: 7px;
}

.cs-icon img{
  width: 100%;
}

.cs-column{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 48%;
  margin-top: 30px;

}

.cs-column img{

}

.cs-column h4{
  color: #010101;
  font-size: 22px;
  text-align: center;
  width: 100%;
}

.cs-column p{
  margin-top: 5px;
  text-align: center;
  font-weight: lighter;
}

/* Testimonials */
#cs-testimonials{
  background-color: #efeeee;
}

#cs-testimonials .cs-section{
  background-color: #010101;
  width: 100%;
  border-radius: 40px 40px 0 0;
}

#cs-testimonials .cs-arrange{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}

#cs-testimonials .cs-section-title h3{
  color: #fff;
}

#cs-testimonials .cs-arrange .cs-quote{
  color: #ccc;
  font-size: 600px;
  font-family: 'sonder sans', sans-serif;
  text-align: center;
  position: absolute;
  top: -3%;
  left: 50%;
  margin: 0;
  opacity: .2;
  z-index: 9;
  transform: translateX(-50%);
}

.cs-testimonials{
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 700px;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 10;
}

#cs-testimonials .cs-container{
  position: relative;
}

.cs-testimonials ul{
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.cs-testimonials ul li{
  min-width: 100%;
}

.cs-testimonials ul li .cs-user{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cs-testimonials ul li .cs-user p{
  color: #fb8080;
  font-weight: lighter;
  text-align: center;
  font-size: 18px;
  margin: 80px 0;
  font-style: italic;
}

.cs-testimonials ul li .cs-user .cs-user-data{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.cs-testimonials ul li .cs-user .cs-user-data img{
  border-radius: 100%;
  width: 100px;
}

.cs-testimonials ul li .cs-user .cs-user-data .cs-user-title{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cs-testimonials ul li .cs-user .cs-user-data .cs-user-title h6{
  font-size: 25px;
  margin-top: 15px;
}

.cs-testimonials ul li .cs-user .cs-user-data .cs-user-title p{
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 13px;
  margin-top: 3px;
}

.cs-testimonials ul li .cs-user .cs-user-data .cs-user-title p span{
  color: #fb8080;
}

.cs-testimonial-change{
  position: absolute;
  display: block;
  border: solid #6f6f6f;
  border-width: 0 3px 3px 0;
  padding: 15px;
  cursor: pointer;
  -webkit-transition: border-color .3s ease;
  transition: border-color .3s ease;
  top: 74%;
  z-index: 11;
}

.cs-testimonial-change:hover{
  border-color: #fff;
}

.cs-testimonial-prev{
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  right: 60%;
}

.cs-testimonial-next{
  -webkit-transform: rotate(135deg);
  transform: rotate(-45deg);
  left: 60%;
}

/* contact */
#cs-contact{
  background-color: #010101;
}

#cs-contact .cs-section{
  background-color: #efeeee;
  width: 100%;
  border-radius: 40px 40px 0 0;
}

#cs-contact form{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 60px auto;
  margin-bottom: 0;
}

#cs-contact form input:not([type="submit"]), #cs-contact form textarea{
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border: solid 1px #ccc;
  border-radius: 10px;
  /* border-bottom: solid 2px #ccc;
  background-color: #efeeee; */
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
}

#cs-contact form textarea{
  resize: none;
  height: 100px;
}

#cs-contact form *::-webkit-input-placeholder {
  color: #ccc;
  font-style: italic;
}

#cs-contact form *::-moz-placeholder {
  color: #ccc;
  font-style: italic;
}

#cs-contact form *:-ms-input-placeholder {
  color: #ccc;
  font-style: italic;
}

#cs-contact form *:-moz-input-placeholder {
  color: #ccc;
  font-style: italic;
}

#cs-contact form input[type="submit"]{
  font-size: 16px;
  font-weight: bold;
  width: 200px;
  padding: 10px;
  margin: 15px 0;
  border-radius: 15px;
  border: solid 0px #010101;
}

/* footer */
footer{
  background-color: #010101;
}

footer .cs-container{
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 20px;
}

footer .cs-footer-nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 50px;
  border-bottom: solid 1px #ccc;
}

footer .cs-footer-about{
  display: flex;
  flex-direction: column;
  width: 40%;
}

footer .cs-footer-about .cs-logo{
  width: 80%;
  margin-bottom: 20px;
}

footer .cs-footer-about p{
  color: #ccc;
  font-weight: lighter;
  font-size: 17px;
  width: 80%;
}

footer .cs-footer-menu{
  width: 25%;
  display: flex;
  flex-direction: column;
  margin-top: 1.3%;
}

footer .cs-footer-menu h1{
  color: #fff;
  font-size: 21px;
  text-align: left;
  padding: 0;
  margin: 0 0 20px;
}

footer .cs-footer-menu ul{
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer .cs-footer-menu ul li{
  width: 100%;
  margin-bottom: 10px;
}

footer .cs-footer-menu ul li a{
  font-weight: lighter;
  color: #5ca3c1;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

footer .cs-footer-menu ul li a:hover{
  color: #fff;
}

footer .cs-footer-social{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
}

footer .cs-footer-social p{
  color: #fff;
  font-weight: lighter;
  font-size: 14px;
}

footer .cs-footer-social p span{
  color: #fb8080;
}

footer .cs-footer-social ul{
  display: flex;
  align-items: center;
}

footer .cs-footer-social ul li{
  display: flex;
  margin-left: 10px;
  width: 13px;
}

footer .cs-footer-social ul li a{
  display: flex;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

footer .cs-footer-social ul li a:hover{
  opacity: .7;
}

footer .cs-footer-social ul li a img{
  width: 100%;
}

/* Responsive */

@media all and (max-width: 1240px){

  .cs-container{
    padding-left: 20px;
    padding-right: 20px;
  }

  .cs-header-text-area .cs-header-text{
    top: 45%;
  }

  #cs-courses .cs-course-container {
    width: 265px;
    min-width: 265px;
    height: 220px;
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
  }

  #cs-courses .cs-course-content img {
    top: -40px;
    border-radius: 60px;
    width: 230px;
    max-height: 153px;
  }

  #cs-courses .cs-course-container:hover .cs-course-content img{
    top: -43px;
  }

  #cs-courses .cs-course-content .cs-course-info {
    top: 126px;
  }

}


@media all and (max-width: 1110px){

  .cs-container {
      padding-left: 40px;
      padding-right: 40px;
  }

  .cs-header-text-area .cs-header-text h1 {
    font-size: 38px;
    max-width:360px;
  }

  .cs-header-text-area .cs-header-text span {
    font-size: 18px;
    max-width: 360px;
  }

  .cs-get-started {
    font-size: 14px;
    width: 170px;
  }

}


@media all and (max-width: 960px){

  #cs-courses .cs-courses-area {
    width: 88%;
    margin: auto;
  }

  .cs-header-text-area .cs-header-text h1 {
    font-size: 30px;
    max-width: 280px;
  }

  .cs-header-text-area .cs-header-text span {
    font-size: 16px;
    max-width: 280px;
  }

  .cs-get-started {
    font-size: 12px;
    width: 150px;
  }

  header nav{
  }

  header nav .cs-nav-container{
    flex-basis: 100%;
    justify-content: left;
    background-color: #010101;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }

  header nav .cs-nav-container-opened{
    max-height: 100%;
    margin-top: 20px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }

  header nav .cs-nav-container ul.cs-navigation li{
    margin: 10px 0;
    width: 100%;
  }

  header nav .cs-nav-container ul.cs-navigation{
    flex-direction: column;
    width: 100%;
  }

  header nav ul.cs-navigation li a:after{
    display: none;
  }

  header nav i.cs-nav-toggle{
    display: block;
  }

}

@media all and (max-width: 760px){
  .cs-header-text-area .cs-header-text {
    top: 34%;
    left: 0;
    align-items: center;
  }

  .cs-header-text-area .cs-header-text h1 {
    font-size: 22px;
    max-width: 200px;
    text-align: center;
  }

  .cs-header-text-area .cs-header-text span {
    font-size: 12px;
    max-width: 200px;
  }

  .cs-get-started {
    font-size: 10px;
    width: 120px;
  }

  h3{
    font-size: 36px;
  }

  #cs-courses .cs-courses-area {
    justify-content: center;
  }

  .cs-column {
    width: 100%;
  }

  #cs-testimonials .cs-arrange .cs-quote {
    font-size: 560px;
  }

  .cs-testimonials ul li .cs-user p {
    font-size: 15px;
    margin-top: 90px;
  }


  footer .cs-footer-nav {
    flex-wrap: wrap;
  }

  footer .cs-footer-about {
    width: 100%;
    margin-bottom: 30px;
  }

  footer .cs-footer-menu {
    width: 100%;
  }

}


/* search bar */

.searchedContainer{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#search {
  width: 100px;
  border: none;
  border-radius: 20px;
  padding: 3px;
  outline: none;
}

#cs-searched-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background: #010101;
  top: 45px;
  /* width: 100%; */
  box-sizing: border-box;
  width: 150px;
}

.cs-searched {
  width: 100%;
  cursor: pointer;
}

.cs-searched h5{
  padding: 10px;
  font-size: 15px;
  font-weight: lighter;
}
.
